.footer_main {
  background-color: $colorSky;
  padding: rem(40px) 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 100%;
    max-width: rem(255px);
    height: auto;
  }
  .footer_right {
    display: flex;
    align-items: flex-end;
  }
  .footer_contacts {
    display: flex;
    flex-direction: column;
    font-size: rem(20px);
    font-weight: 700;
    margin-right: rem(95px);
    color: #fff;
    a {
      color: #fff;
      transition: color .4s;
      &:hover {
        color: $colorBlue;
      }
    }
  }
  .social {
    display: flex;
    align-items: center;
    a {
      display: block;
      margin: 0 rem(17px);
      font-size: rem(45px);
      color: #fff;
      transition: color .4s;
      &:hover {
        color: $colorBlue;
      }
    }
  }
  &.animation {
    .logo, .footer_contacts {
      opacity: 0;
      visibility: hidden;
      transition: opacity .8s ease-out, visibility .8s ease-out;
    }
    .social {
      a {
        position: relative;
        opacity: 0;
        visibility: hidden;
        transition: color .4s, opacity .8s .3s ease-out, left .8s .3s ease-out, right .8s .3s ease-out, visibility .8s .3s ease-out;
        &:first-child {
          left: rem(80px);
        }
        &:last-child {
          right: rem(80px);
        }
      }
    }
    &.active {
      .logo, .footer_contacts {
        opacity: 1;
        visibility: visible;
      }
      .social {
        a {
          opacity: 1;
          visibility: visible;
          &:first-child {
            left: 0;
          }
          &:last-child {
            right: 0;
          }
        }
      }
    }
  }
}